* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #3f9c6e;
    width: 375px;
    height: 100%;
    position: relative;
    margin: 0 auto;
}

#top-logo {
    width: 375px;
    border-radius: 15px;
    height: 300px;
    position: relative;
    top: 12px;
    display: block;
    margin: 0 auto 10px auto;
}

main {
    height: 100%;
    display: block;
    position: relative;
    margin: 20px auto 25px;
    height: 712px;
    background: #F4F4F4;
    border-radius: 20px;
    padding: 25px;
}

label {
    color: #777777;
    width: 80px;
    height: 18px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

select,
input {
    margin-bottom: 15px;
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    width: 327px;
    height: 48px;
    padding-left: 10px;
    cursor: pointer;
}

option {
    width: 104px;
    height: 18px;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #555555;
}

button {
    margin-top: 20px;
    width: 327px;
    height: 48px;
    left: 24px;
    top: 329px;
    background: #3f9c6e;
    border-radius: 5px;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    display: block;
    text-align: center;
    color: #FFFFFF;
    border: none;
}

button:hover {
    opacity: 0.5;
}

button:active {
    opacity: 0.8;
}

section {
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 327px;
    height: 305px;
    border: 1px solid #3f9c6e;
    border-radius: 20px;
}

#brazil-flag,
#currency-flag {
    width: 44px;
    height: 44px;
    margin-top: 12px;
}

#currency-flag {
    position: absolute;
    bottom: 58px;
}

#arrow {
    width: 35px;
    height: 63px;
    position: absolute;
    top: 112px;

}

#label-flag-brazil,
#label-flag {
    width: 28px;
    height: 18px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #777777;
    position: relative;
}

#label-flag {
    position: relative;
    top: 155px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50px;
}

.input-result-to-convert,
.input-result {
    width: 300px;
    color: black;
    text-align: center;
}

.input-result {
    position: relative;
    top: 155px;
}

#signature{
    position: absolute;
    bottom: 8px;
    left: 152px;
    font-size: 10px;
    display: block;
    font-style: italic;
}